#projects {
  width: 100%;
  min-height: calc(100vh + 62.4px);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#projects_card_content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 40px;
}

.project-card {
  background-color: var(--primary-color-opacity);
  border-radius: 16px;
  padding: 32px 32px;
}

.project-title {
  font-size: var(--h6-font-size);
  font-weight: var(--semi-bold);
  color: var(--text-color);
  margin-bottom: 16px;
}

.project-description {
  font-size: var(--p-font-size);
  font-weight: var(--regular);
  color: var(--light-color);
  margin-bottom: 40px;
}

.project-link {
  font-size: var(--a-font-size);
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  transition: 0.2s;
}

.project-link:hover {
  opacity: 50%;
}

@media screen and (max-width: 1080px) {
  #projects_card_content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  #projects_card_content {
    grid-template-columns: 1fr;
  }
}
