#services {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--primary-color-opacity);
}

#services_card_content {
  width: 100%;
  display: flex;
  gap: 40px;
}

.services-card {
  width: 100%;
  display: flex;
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  gap: 24px;
  border-radius: 16px;
  padding: 24px 37px 48px 37px;

  color: var(--text-color);
}

.services-card-icon {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
}

.services-card-title {
  font-size: var(--h6-font-size);
  font-weight: var(--medium);
}

.services-card-description {
  font-size: var(--p-font-size);
}

@media screen and (max-width: 1080px) {
  #services_card_content {
    flex-wrap: wrap;
  }

  .services-card-image {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .services-card-image {
    width: 80%;
  }
}
